.header {
  height: 50px;
  margin: 0 auto;
  background: red;
  color: aliceblue;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  width: 50%;
}

.content {
  height: 50px;
  width: 50%;
  margin: 0 auto;
  background: red;
  color: aliceblue;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
}

::-webkit-scrollbar {
  // display: none;
}