.header {
  height: 50px;
  background: red;
  color: aliceblue;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}

.content {
  height: 50px;
  background: red;
  color: aliceblue;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-top: 100px;
}

::-webkit-scrollbar {
  display: none;
}