.main{
  width: 500px;
  height: 100%;
  border: 1px solid #000;
  margin: 0 auto;

  .header{
    height: 50px;
    background: red;
    color: aliceblue;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
  }
}